---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "checkmk.fullname" . }}-checkmk-metrics-reader
  labels:
    {{- include "checkmk.labels" . | nindent 4 }}
rules:
  - apiGroups:
      - ""  # core API group
      - apps
      - batch
      - autoscaling
    resources:
      - nodes
      - nodes/proxy
      - pods
      - deployments
      - replicasets
      - jobs
      - daemonsets
      - statefulsets
      - cronjobs
      - services
      - endpoints
      - ingresses
      - persistentvolumes
      - persistentvolumeclaims
      - storageclasses
      - horizontalpodautoscalers
      - replicasets
      - namespaces
      - resourcequotas
    verbs:
      - "get"
      - "list"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "checkmk.fullname" . }}-checkmk-metrics-reader
  labels:
    {{- include "checkmk.labels" . | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "checkmk.fullname" . }}-checkmk-metrics-reader
subjects:
  - kind: ServiceAccount
    name: {{ include "checkmk.fullname" . }}-checkmk
    namespace: {{ .Release.Namespace }}