---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ include "checkmk.fullname" . }}-node-collector-machine-sections
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "checkmk.labels" . | nindent 4 }}
    component: {{ include "checkmk.fullname" . }}-node-collector
    app: {{ include "checkmk.fullname" . }}-node-collector-machine-sections
    # This label allows checkmk to identify the node-collector. Removing or modifying this label
    # is supported, but will remove features related to this label.
    node-collector: "machine-sections"
spec:
  selector:
    matchLabels:
      {{- include "checkmk.selectorLabels" . | nindent 6 }}
      component: {{ include "checkmk.fullname" . }}-node-collector
      app: {{ include "checkmk.fullname" . }}-node-collector-machine-sections
  minReadySeconds: {{ .Values.nodeCollector.minReadySeconds }}
  template:
    metadata:
      annotations:
        {{- if .Values.tlsCommunication.enabled }}
        checksum/config: {{ include (print $.Template.BasePath "/checkmk-secret.yaml") . | sha256sum }}
        {{- end }}
        {{- with .Values.nodeCollector.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "checkmk.selectorLabels" . | nindent 8 }}
        component: {{ include "checkmk.fullname" . }}-node-collector
        app: {{ include "checkmk.fullname" . }}-node-collector-machine-sections
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.nodeCollector.priorityClassName }}
      priorityClassName: {{ .Values.nodeCollector.priorityClassName }}
      {{- end }}
      {{- if .Values.nodeCollector.nodeSelector }}
      nodeSelector:
        {{- toYaml .Values.nodeCollector.nodeSelector | nindent 8 }}
      {{- end }}
      {{- with .Values.nodeCollector.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ template "checkmk.serviceAccountName.nodeCollector.machineSectionsCollector" . }}
      securityContext:
        {{- toYaml .Values.nodeCollector.podSecurityContext | nindent 8 }}
      automountServiceAccountToken: true
      containers:
        - name: machine-sections-collector
          securityContext:
            {{- toYaml .Values.nodeCollector.machineSectionsCollector.securityContext | nindent 12 }}
          image: "{{ .Values.nodeCollector.machineSectionsCollector.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.nodeCollector.machineSectionsCollector.image.pullPolicy }}
          command:
            - "/usr/local/bin/checkmk-machine-sections-collector"
          args:
            - "--log-level={{ .Values.nodeCollector.logLevel }}"
          {{- if .Values.tlsCommunication.enabled }}
            - "--secure-protocol"
          {{- if .Values.tlsCommunication.verifySsl }}
            - "--verify-ssl"
          {{- end }}
          {{- end }}
          volumeMounts:
          {{- range .Values.nodeCollector.machineSectionsCollector.extraHostPathMounts }}
            - name: {{ .name }}
              mountPath: {{ .mountPath }}
              readOnly: true
              mountPropagation: HostToContainer
          {{- end}}
          {{- if .Values.nodeCollector.machineSectionsCollector.networkInterfaceMonitoring.enabled }}
            - name: sys
              mountPath: /host/sys
              readOnly: true
          {{- end }}
          {{- if .Values.tlsCommunication.enabled }}
            - name: checkmk-ca-cert
              mountPath: /etc/ca-certificates/checkmk-ca-cert.pem
              subPath: checkmk-ca-cert.pem
              readOnly: true
          {{- end }}
          env:
            - name: NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
            - name: CLUSTER_COLLECTOR_SERVICE_HOST
              value: "{{ include "checkmk.fullname" . }}-cluster-collector.{{ .Release.Namespace }}"
            - name: CLUSTER_COLLECTOR_SERVICE_PORT_API
              value: "{{ .Values.clusterCollector.service.port }}"
          resources:
            {{- toYaml .Values.nodeCollector.machineSectionsCollector.resources | nindent 12 }}
      terminationGracePeriodSeconds: 30
      volumes:
      {{- range .Values.nodeCollector.machineSectionsCollector.extraHostPathMounts }}
        - name: {{ .name }}
          hostPath:
            {{- toYaml .hostPath | nindent 12}}
      {{- end }}
      {{- if .Values.nodeCollector.machineSectionsCollector.networkInterfaceMonitoring.enabled }}
        - name: sys
          hostPath:
            path: /sys
      {{- end }}
      {{- if .Values.tlsCommunication.enabled }}
        - name: checkmk-ca-cert
          secret:
            secretName: {{ include "checkmk.fullname" . }}-checkmk-tls
            items:
              - key: checkmk-ca-cert
                path: checkmk-ca-cert.pem
      {{- end }}
