---
apiVersion: policy/v1beta1
kind: PodSecurityPolicy
metadata:
  name: checkmk-monitoring
  annotations:
    seccomp.security.alpha.kubernetes.io/allowedProfileNames: >-
      docker/default,runtime/default
    apparmor.security.beta.kubernetes.io/allowedProfileNames: >-
      runtime/default
    apparmor.security.beta.kubernetes.io/defaultProfileName: >-
      runtime/default
spec:
  runAsUser:
    rule: 'MustRunAsNonRoot'
  seLinux:
    rule: 'RunAsAny'
  supplementalGroups:
    rule: 'MustRunAs'
    ranges:
      - min: 1
        max: 65535
  fsGroup:
    rule: 'MustRunAs'
    ranges:
      - min: 1
        max: 65535
  runAsGroup:
    rule: 'MustRunAs'
    ranges:
      - min: 1
        max: 65535
  defaultAllowPrivilegeEscalation: false
  allowPrivilegeEscalation: false
  readOnlyRootFilesystem: true
  requiredDropCapabilities: [ALL]
  allowedCapabilities: []
  privileged: false
  hostIPC: false
  hostPID: false
  hostNetwork: false
  hostPorts:
    - min: 0
      max: 65535
  volumes:
    - secret
    - emptyDir
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: checkmk-collectors-podsecurity
rules:
  - apiGroups:
      - policy
    resourceNames:
      - checkmk-monitoring
    resources:
      - podsecuritypolicies
    verbs:
      - use
